{% extends "base.html.twig" %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand p-2" href="#"> sopranos pizzaria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active " href="#">Home </a>
                <a class="nav-link " href="#">contact </a>
                <a class="nav-link  justify-content-end" href="#">inloggen </a>


            </div>
        </div>
    </nav>
    <div>

    </div>
{% endblock %}