{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
        {% for category in category %}
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card" >
                    <img src="{{ asset('img/' ~ category.picture) }}" style="height: 400px" class="img img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{{ path('pizzas', {id: category.id}) }}" class="btn btn-primary">verder</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}